[2016-03-21 17:43] janschulz opened #1 "JFI: canceled the build due to missing owslib,..."
All builds before were failing due to missing owslib and other dependencies, so I cancelt the build when it was halfway through: https://ci.appveyor.com/project/conda-forge/cartopy-feedstock

[2016-03-21 17:47] ocefpaf commented on #1
Thanks. I will re-start once the dependencies are in the channel.

[2016-03-28 18:56] #1 closed

[2016-04-28 16:47] jhamman opened #9 "Problem with geos dependency when using cartopy feedstock"
I'm seeing a somewhat familiar problem when using anaconda to install `cartopy` on OSX. Here are some basic steps that can be used to reproduce the problem. I've never been able to figure out why it is so hard for `cartopy` to link to `libgeos` but its not working here.

[code]

[2016-04-28 17:13] ocefpaf commented on #9
@jhamman can you send the result of `conda list` with [show channels](http://conda.pydata.org/docs/config.html#show-channel-urls-show-channel-urls) option turned on?

This works for me on Linux:

[code]

[code]

[2016-04-28 18:12] jhamman commented on #9
Here's the list of packages:

[code]

[2016-04-28 18:26] ocefpaf commented on #9
Looking closer at the offending line you will note that Shapely is failing to find `lib c`. I don't know the first things about OS X, but I do know that is the one library we expected to be in the user computer.

@jakirkham do you have any insight here?

[2016-05-12 11:33] pelson commented on #9
[code]

[code]

[code]

[code]

Not that it makes any functional difference, but technically this is Shapely which is finding it hard to link with libgeos. Part of the problem is that ctypes really makes it hard to find the libgeos which is installed into the $PREFIX, rather than the libgeos which has been installed by homebrew in ```/usr/local/```.

In this particular example though, libgeos isn'

[2016-05-12 14:34] jhamman commented on #9
Yes, I do have Xcode installed (in `/usr/`).  Also Macports (in `/opt/local/`).

[2016-06-02 22:06] jakirkham commented on #9
Sorry for the long turnaround. It appears @ocefpaf pinged me, but it got buried under an avalanche of notifications. 🏂

Also, am unable to reproduce this. Though much has changed in the past month. Could you please retry @jhamman and see if the issue persists?

[2016-06-07 16:20] dennissergeev commented on #9
I have a related problem with libgeos dependency, albeit on Linux. I'm trying to setup a conda environment on our university cluster, which has a module that loads Anaconda. So I follow @ocefpaf steps and create a test environment:
[code]
Cartopy seems to link to libgeos libraries successfully, but then when I try to import it, this error appears:
[code]
This also happens with python 3.5, so I gue

[2016-06-07 19:37] ocefpaf commented on #9
@dennissergeev that is a tough one to debug as the same install commands works just fine in our laptops (I re-tested them here). I cannot see anything obviously wrong with the package nor with what you did to install them :unamused:

BTW `_ZZ19getMachineByteOrdervE12endian_check` is quite weird. Is there anything special about that cluster? Maybe all conda-forge c-libs are incompatible with it.

[2016-07-30 17:15] ocefpaf commented on #9
A lot has changed since then and we cannot reproduce the error. @jhamman let me know if you are still affected by this and feel free to re-open.

[2016-07-30 17:15] #9 closed

[2017-02-05 18:20] jakirkham opened #27 "Offline version of cartopy"
@willirath commented on [Sun Feb 05 2017](https://github.com/conda-forge/conda-forge.github.io/issues/328)

(I'd be happy to provide a PR myself.)

## Problem

Cartopy provides a very limited set of feature data (shapefiles et al.) and downloads features to the user cache whenever they are needed.  This is usually a good practice, but interferes with people working without permanent internet acces

[2017-03-03 17:13] dopplershift opened #28 "Remove matplotlib < 2.0 pin"
Can we re-examine the pinning against matplotlib < 2.0? As far as I can tell, the library isn't fundamentally broken with matplotlib. Based on SciTools/Cartopy#773, the only changes needed are to a ticker and to make sure linewidth is set properly. I'm willing to make a patch for conda-forge  for these changes if that helps.

My issue is that in a month I'm teaching a workshop:
1. I will not teach

[2017-03-03 17:28] ocefpaf commented on #28
Yes please! I will merge https://github.com/conda-forge/cartopy-feedstock/pull/29 quick so you can work on the patch.

[2017-03-09 18:37] #28 closed

[2017-03-21 18:56] datfinhon opened #31 "html"
<A href="https://www.quantifiedcode.com/app/project/15e2d9208d9740f680ecd896ba0d4d45"> <img src = "https://www.quantifiedcode.com/api/v1/project/15e2d9208d9740f680ecd896ba0d4d45/badge.svg" alt = "Vấn đề mã" /> </A>

[2017-03-21 18:57] datfinhon commented on #31
markdown
[! [Mã vấn đề] (https://www.quantifiedcode.com/api/v1/project/15e2d9208d9740f680ecd896ba0d4d45/badge.svg)] (https://www.quantifiedcode.com/app/project/15e2d9208d9740f680ecd896ba0d4d45)

[2017-03-21 18:59] ocefpaf commented on #31
Spam? Closing this...

[2017-03-21 18:59] #31 closed

[2017-03-30 13:26] megies opened #32 "Packaging bug in cartopy=0.14.3=np110py27_3 ?"
Could it be there's a packaging bug in `cartopy` version `0.14.3` build `np110py27_3`?

We're running into an error in CI, [on Travis OSX exclusively](https://travis-ci.org/obspy/obspy/jobs/216730989#L2425):
[code]

[Installed versions are](https://travis-ci.org/obspy/obspy/jobs/216730989#L1635):
[code]

[In CI we first install main dependencies with fixed versions](https://travis-ci.org/obspy/obs

[2017-03-30 13:41] ocefpaf commented on #32
That is an old build and not even the last build number in that version series. Any special reason to use that?

If you really need version `0.14.3` try to get the build number `4`. conda solver has the bad habit of easing into bad mix of pinning by installing old build numbers. (That is, IMO, a bug in conda and lower build number should never be installed unless explicitly requested.)

[2017-03-30 13:45] ocefpaf commented on #32
BTW build number `4` was pinned to  `geos 3.5.*` and `3` used  `geos 3.4.*`. So there is no way either will work with `geos 3.3.3` that conda is installing there. See https://github.com/conda-forge/cartopy-feedstock/commit/294bb42dd692c971710eb3b864070ad18911d3e9

Not sure why you are getting `geos 3.3.3`. Maybe you are hitting http://conda-forge.github.io/docs/conda-forge_gotchas.html#using-multi

[2017-03-30 13:45] #32 closed

[2017-03-30 14:21] megies commented on #32
Hmm.. indeed it should install a newer cartopy package.. strange.. need to investigat why it's trying to install that old package/build..

[2017-09-04 08:22] Chilipp opened #36 "Cartopy crashes Python on OSX"
Apparently, importing cartopy 0.15.1, built for conda-forge about a day ago, crashes python. To see the error, run
[code]
The last command prints the following to stdout
[code]

This issue has been tried to be solved by PR https://github.com/conda-forge/cartopy-feedstock/pull/35,  commit https://github.com/conda-forge/cartopy-feedstock/commit/15c418f6c261668033d426e964bd1dabe51b4aba, Travis build

[2017-09-05 13:00] ocefpaf commented on #36
@Chilipp can you send the result of `conda list` and `conda info` from that env?

[2017-09-05 14:07] Chilipp commented on #36
Sure. Here is `conda list`

[code]
Here is `conda info`
[code]

[2017-09-05 14:14] ocefpaf commented on #36
Do you have `geos` installed locally via another package manager, like `brew`? Latest `shapely` may be trying to load that. Try to downgrade to `shapely 1.5.17` and let me know. If that is the case I might need to patch shapely again :unamused:

[2017-09-05 14:39] Chilipp commented on #36
Indeed, `geos` was installed via `brew`. Good point. I uninstalled it and it works now. Thanks. However, downgrading shapely also solved the problem.

[2017-09-05 14:43] ocefpaf commented on #36
I was afraid of that :cry: I guess we'll need to keep on patching conda's `shapely` to not use the system `geos`. I'll keep this open until I can get to it.

[2017-09-05 14:44] Chilipp commented on #36
thanks. Sorry for that @ocefpaf

[2017-09-05 14:46] ocefpaf commented on #36
Not your fault :smile:

I'll try to fix this upstream. Shapely could look for `geos` in conda prefix first and then fallback to the system safely. The other way around does not make sense to me.

[2017-09-05 14:47] Chilipp commented on #36
Thank you, sounds good. Let me know if you want me to try it again.

[2017-09-05 15:24] dopplershift commented on #36
I'm seeing this on some [ci builds](https://travis-ci.org/Unidata/python-gallery/jobs/271032292) but I can't reproduce locally with the same conda environment file.

[2017-09-05 15:27] ocefpaf commented on #36
You CI probably has a system `geos` installed, no?

[2017-09-05 15:31] dopplershift commented on #36
Default Travis osx image, so... 🤷‍♂️

[2017-09-05 15:35] Chilipp commented on #36
try
[code]
in your `.travis.yml`. Maybe this works

[2017-09-05 15:35] ocefpaf commented on #36
Yep. It does. We remove all homebrew packages in conda-forge for that reason. I am working on a patch that should be upstreamble. Hold on...

[2017-09-06 15:08] #36 closed

[2017-09-30 22:21] mcFishin2039 opened #38 "problem with goes_c library in Cartopy"
Hi,

I am using Anaconda with python 2.7 on a mac OS  and I installed the package Cartopy.

However, I notice that when I attempt to use Cartopy (import cartopy), I obtain the following error:

OSError: Could not find lib geos_c or load any of its variants ['/Library/Frameworks/GEOS.framework/Versions/Current/GEOS', '/opt/local/lib/libgeos_c.dylib'].

Now, I've found where this library lives, it's

[2017-10-02 13:39] ocefpaf commented on #38
Please take a look at https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels

Are you installing `cartopy` in the root env? If so can you try it installing it in an env?

[code]

[2017-10-03 18:14] mcFishin2039 commented on #38
Hi !

When I installed it in a separate environment, it did the trick! It was able to find all the libraries it needed. Thanks so much!

[2017-10-03 18:17] ocefpaf commented on #38
Glad it helped! Closing this.

[2017-10-03 18:17] #38 closed

[2017-10-09 03:08] gepcel opened #39 "Cann't change "linewidth" when adding geometries."
There's a mismatch file between [cartopy of conda-forge](https://anaconda.org/conda-forge/cartopy/0.15.1/download/win-64/cartopy-0.15.1-py36_4.tar.bz2) and cartopy from master repository.

There is a Line 111 in file Lib/site-packages/cartopy/mpl/feature_artist.py :
[code]
Which caused an issue that when `ax.add_geometries(..., linewidth=0.5)`, the 'linewidth' arg doesn't work. An example code mig

[2017-10-09 11:10] ocefpaf commented on #39
@dopplershift I believe that is related to the patch you ported, correct? Can you take a look?

[2017-10-10 02:47] gepcel commented on #39
OK, I pulled a [request](https://github.com/conda-forge/cartopy-feedstock/pull/40). I filed an issue first mainly because:

1. I don't understand why that line of code will make the `linewidth` unchangable. I suppose that will only make the linewidth default to 1.0, if no arg given.
2. Since there's no this line in the cartopy master repository, I'm not sure if there are other reasons of adding th

[2017-10-10 02:55] gepcel commented on #39
#40

[2017-10-11 23:38] gepcel commented on #39
Closed by #40 #

[2017-10-11 23:38] #39 closed

[2017-10-20 13:03] udothemath1984 commented on #36
Finally it works!

My Geos was installed through brew on my OSX. As what @ocefpaf suggested, brew uninstall geos solves the issue of "Invalid argument (must be a Polygon)". Thanks.

[2017-11-30 17:34] DominicAntonacci opened #42 "PIL Packaging Bug"
With a vanilla Anaconda python 3.6 distribution on Windows 7, the following install command clobbers something in the PIL module.
[code]

When trying to import `cartopy.io.img_tiles`, an import error then occurs.
[code]

This can be fixed with `conda upgrade -c conda-forge pillow` or `conda config --add channels conda-forge`, depending if you want to add a channel or not.

I suspect cartopy is exp

[2018-02-21 20:18] ocefpaf commented on #42
Indeed `cartopy` is installing `pillow`. I don't think you can use it with `PIL`. If you need PIL for other projects you'll need to create separate envs.

[2018-02-21 20:18] #42 closed

[2018-07-05 16:54] andreww opened #44 "Cartopy crashes (again?) on OSX"
I'm running into a problem that looks very like a reappearance of the error described in #36 but with, I think, the latest versions of cartopy and shapely. I would be grateful if somebody could take a quick look and let me know if it looks like I'm doing something silly.

The specific error that I'm seeing is that importing cartopy results in an error message and the python interpreter crashes:

[2018-07-05 17:05] ocefpaf commented on #44
There are many many from `defaults` there which suggests you may be hitting a channel mix problem. Please https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels for more info and recommend practices.

I just tested a fresh env with:

[code]

and everything worked as expected.

[2018-07-05 17:05] #44 closed

[2018-11-17 23:32] dopplershift opened #54 "Change to point to PyPI"
The next time we update for a new version, we should point to the tarball on PyPI (which should be automatically uploaded when the release is tagged now). The github tarball is guaranteed to change between when the release is cut and the next time a commit is made to master (see #53).

[2019-01-07 21:04] #54 closed

[2019-06-27 17:29] gferragu opened #61 "Cartopy failed installation with conda"
Issue: Cartopy install with conda-forge on new Conda installation failure

[code]

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2019-06-27 17:33] ocefpaf commented on #61
You have tons of packages from defaults in there and it seems like you are installing conda-forge's cartopy on top of the Anaconda distribution, which brings lots of packages that may be incompatible with conda-forge packages. Please see https://conda-forge.org/docs/user/tipsandtricks.html#how-to-fix-it and install cartopy in a new env or start off with miniconda instead of Anaconda.

[2019-06-27 17:33] #61 closed

[2019-07-10 21:59] gboeing opened #63 "UnsatisfiableError with python 3.7 in clean new env"
I'm suddenly unable to conda install cartopy. Here's the failed installation, and my conda info:

[code]

[2019-07-11 19:22] ocefpaf commented on #63
Should be fixed soon. The builds are slow today b/c our humans are in a conference. But the bots are working hard on this and it should be fixed in ~2 hours when the new builds of `gdal 2.4.2` with the old geos and new `cftisio` are complete.

xref.: https://github.com/conda-forge/gdal-feedstock/issues/303

[2019-07-19 00:12] gboeing commented on #63
@ocefpaf just checked again and this is issue is still ongoing (just commenting here in case you didn't know it was still ongoing). For example, `conda create -n test cartopy` and `conda create -n test geopandas` both fail as above.

[2019-07-19 00:44] gboeing commented on #63
Interestingly, I just updated conda from 4.7.5 -> 4.7.8 and the failure changed slightly. Now it does concludes with an actual error.

# conda create -n test cartopy

[code]

# conda create -n test pandas

But trying a different package (pandas) does *not* result in this unexpected error:

[code]

[2019-07-19 12:27] ocefpaf commented on #63
Cartopy is more difficult than I expected b/c it does not works with `proj4 6`, so trying to re-build an old version of the packages for it but it may take a while.

PS: I'm not sure the error in https://github.com/conda-forge/cartopy-feedstock/issues/63#issuecomment-513046282 is related. Looks like a `conda` bug to me.

[2019-07-19 14:54] gboeing commented on #63
@ocefpaf you're right, that was a conda bug in 4.7.8 that is fixed in 4.7.9: https://github.com/conda/conda/issues/8963

With conda 4.7.9 it goes back to the original `UnsatisfiableError: The following specifications were found to be incompatible with each other`

[2019-07-19 17:03] ocefpaf commented on #63
Please keep an eye on https://github.com/conda-forge/gdal-feedstock/pull/310 that hopefully will fix that. However, the more I work on that PR the more I think it is probably easier to fix `rasterio` and `cartopy` to work with `proj4 >=6` :-(

[2019-07-19 17:23] gboeing commented on #63
Ok I'll keep my eye on that PR and test again when it's merged.

FYI, I just noticed that this seems to affect other packages too. For example, I cannot install `geopandas` either:

[code]

[2019-07-19 17:38] ocefpaf commented on #63
That one should be OK :-/
I'll try to find a Windows machine to debug it.

[2019-07-22 23:27] ocefpaf commented on #63
I rebuilt `cartopy` with the old `proj4 5.2.0` that should help here. Can you test it again?

[2019-07-23 18:29] ocefpaf commented on #63
Cartopy is "solved" but I still need to rebuild a few dependencies to get this working on Windows.

[2019-07-23 19:41] gboeing commented on #63
@ocefpaf thanks, I'm moving cross country this week but will test again soon as I can.

[2019-07-25 01:01] ocefpaf commented on #63
Should be working now. Let me know if you find more any issues.

[2019-07-25 01:01] #63 closed

[2019-08-01 20:17] shriphani opened #66 "Conda install just loops without ever succeeding"
Issue:

Running `conda install -c conda-forge cartopy` never terminates. Just fails to ever resolve an environment

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2019-08-02 11:20] ocefpaf commented on #66
If you are trying to install it into a pre-existing environment, specially if that is the Anaconda Distribution b/c it brings tons of packages, you will have trouble. We recommend you to install what you need in environments, also try to use miniconda.

Try,

[code]

You can add more packages that you need there.

[2019-08-02 11:20] #66 closed

[2019-09-01 19:51] djhoese opened #68 "PROJ 6.1.1 builds for Windows failed"
Looking at https://anaconda.org/conda-forge/cartopy/files and the README for appveyor/azure builds, it looks like the win64 builds where cartopy was built against PROJ 6.1.1 failed and no win64 package is available (from the builds that were 12 days ago).

Looking at appveyor it looks like an environment variable wasn't set to use the old PROJ API. Let me know if I'm missing something.

[2019-09-02 15:36] ocefpaf commented on #68
Yep. That is correct. We tried without avail to make that work with cartopy, including some patching. Nothing worked. We decided to merge to "cash" Linux and OS X and wait for upstream to fix the situation.

[2019-09-02 15:37] ocefpaf commented on #68
xref.: https://github.com/conda-forge/cartopy-feedstock/pull/64#issuecomment-510684142

[2019-09-19 12:50] geometrician commented on #63
Hi all,

I am trying to install PDAL in my Macbook and I have following conflicts:

"conda install -c conda-forge python-pdal
Using Anaconda Cloud api site https://api.anaconda.org
Fetching package metadata: ......
Solving package specifications: ....

The following specifications were found to be in conflict:
  - python-pdal -> pdal >=1.7.1,<1.8.0a0|>=1.7.2,<1.8.0a0
  - python-pdal -> python >=2.

[2019-09-19 13:05] ocefpaf commented on #63
This feedstock is for cartopy, not pdal.

Try a clean env:

[code]

that works for me. Also, please open a new env with the required debug information. We cannot help you further with it. Locking this issue and, if you want to follow up, open a new one with the required information.

[2019-11-11 22:05] #68 closed

[2019-11-11 22:06] ocefpaf commented on #68
Thanks @dopplershift for fixing this in #70.

[2020-02-11 06:43] xylar commented on #27
@willirath, this is a great idea.  I have also run into this problem several times.

 I presume we would want to create a second, optional conda package that contains the data, say `cartopy-data`?

Also, there doesn't seem to be a way to set an environment variable that cartopy recognizes to point to the path for the downloaded data.  Given that the default location is outside of a conda environme

[2020-02-11 09:06] willirath commented on #27
I've solved this problem for me using https://git.geomar.de/open-source/cartopy_offlinedata

It has most of the logic needed for building a conda-forge package containing the data.

And there _is_ a mechanism for overriding standard configs in cartopy: <https://github.com/SciTools/cartopy/blob/9114626b429627a90c6ed65684e72f4d4384fce7/lib/cartopy/__init__.py#L40>

So from my PoV, creating a `cartop

[2020-02-11 16:34] xylar commented on #27
Thanks so very much for the instructions.  I hadn't realized there was this this mechanism for creating a `cartopy_userconfig` (documentation remains sparse), and that is just the ticket!

This link makes is quite clear that redistribution won't be a problem: http://www.naturalearthdata.com/about/terms-of-use/

I have a little time so I'll see if I can get this going today.

[2020-02-11 19:22] xylar commented on #27
@willirath, I've made some progress.  Before I get too far, I wondered if:
* you are willing to accept a pull request to the https://git.geomar.de/open-source/cartopy_offlinedata repo (and if this is possible)?
* whether the changes on the following branch (which I'm happy to explain if needed) would be acceptable to you: https://github.com/xylar/cartopy_offline_data/tree/add_license
* whether you

[2020-02-11 19:34] xylar commented on #27
Here is the draft recipe on `staged-recipes`, awaiting a release of `cartopy_offlinedata` from @willirath:
https://github.com/xylar/staged-recipes/tree/cartopy_offlinedata/recipes/cartopy_offlinedata

[2020-02-11 21:06] willirath commented on #27
@xylar Thanks a lot! I've moved this to Github and invited you as a collaborator.

[2020-02-18 18:26] xylar opened #77 "Problems installing cartopy 0.18.0b1"
From https://gitter.im/SciTools/cartopy

@mymindisopen Feb 14 22:49
... Do I need to build from source in order to try beta or can I do it with conda?

@xylar Feb 17 21:26
@mymindisopen, you can now install cartopy 0.18.0b1 with:
[code]

@mymindisopen 03:00
Thank you, sir. It's weird, I have the same installation of conda on both my PC and laptop. With the command you provide, my PC installs carto

[2020-02-18 18:29] xylar commented on #77
@mymindisopen, I was able to create a test environment with python 3.7 and cartopy 0.18.0b1 as follows:
[code]
conda list:
[code]
conda info:
[code]

[2020-02-18 18:31] xylar commented on #77
@mymindisopen, could you try to repeat what I did and let me know if that works for you?  If you need a more complex setup, you may need to install all of the conda-forge packages you need during the `conda create` step and then install or update `cartopy` using the `conda install` command above.

One suggestion would be to make sure conda is up-to-date: `conda update -n base conda`.

[2020-02-18 18:34] ocefpaf commented on #77
You can achieve the same that @xylar mentioned above in one go:

[code]

We don't recommend installing dev releasing in pre-existing envs at all not only b/c of the conflicts, but you also do not want to mess up your working env.

[2020-02-18 18:48] xylar commented on #77
@ocefpaf, thanks for that!  I ran a very similar command earlier that included `python=3.7` earlier and got complaints about python version similar to @mymindisopen but I tried again just now and it worked.  Odd!

[2020-02-18 18:51] xylar commented on #77
Interesting!  This works:
[code]
but this doesn't
[code]

[2020-02-18 21:53] willirath commented on #27
:tada: https://github.com/conda-forge/cartopy_offlinedata-feedstock

[2020-02-19 17:48] mymindisopen commented on #77
I tried different approaches you suggested after updating conda.
If I don't explicitly specify cartopy=0.18.0b1 - it installs 0.17, but if I do - python version complaint shows up.

I'm fine now, because nighsthade started working even with 0.17.

[2020-02-27 09:13] stietsche commented on #77
Hi @mymindisopen, I also tried the recipe by @xylar to install cartopy 0.18.0b1 into a clean test environment. It only worked after I added conda-forge as a channel:

`conda config --add channels conda-forge`

[2020-04-11 08:28] krishnaap opened #83 "Cannot install cartopy on Python 3.8 version via conda-forge"
When I tried to install cartopy with python 3.8 and spyder 4.1.2, it is showing the error

    UnsatisfiableError: The following specifications were found
    to be incompatible with the existing python installation in your environment:

    cartopy -> python[version='>=2.7,<2.8.0a0|>=3.6,<3.7.0a0|>=3.7,<3.8.0a0|>=3.5,<3.6.0a0']

Your python: python=3.8

[2020-04-11 10:12] ocefpaf commented on #83
@krishnaap please fill all the information required in the issue template, otherwise we cannot help you. I'm closing this so you can open a new one with required info.

[2020-04-11 10:12] #83 closed

[2020-04-13 13:09] xylar commented on #77
I think I see the problem with my earlier installs.  This is what I would recommend for this package (and beta 2, which should be up shortly):
[code]
You need to override channels if you have `channel_priority` set to `strict` because `cartopy` will otherwise come from `conda-forge`, not `conda-forge/label/cartopy_dev`.

[2020-04-13 13:10] xylar commented on #77
I think my last suggestion should be robust but anyone still having trouble should request post and I'll reopen this issue.

[2020-04-13 13:10] #77 closed

[2020-04-14 14:30] #27 closed

[2020-04-16 17:16] blaylockbk opened #86 "Segmentation fault from import cartopy.crs after matplotlib.pyplot"
Issue:
Segmentation fault when `import cartopy.crs` is imported after `import matplotlib.pyplot` (also reported here: https://github.com/SciTools/cartopy/issues/1524)

To reproduce...

Created this environment:

[code]

Then run the following (hopefully the faulthandler will print something useful)

[code]

This is the output:
[code]

Maybe this provides some additional info...

[code]

Other deta

[2020-04-16 17:58] xylar commented on #86
@blaylockbk, I just tried the following in linux and it worked without a hitch:
[code]

<br/>
Environment (<code>conda list</code>):

<details>
 <summary>`conda list`</summary>

[code]
</details>

<br/>

<details>
<summary>`conda Info`</summary>

[code]
</details>

I'll try to dig further to see if I see any obvious differences between your setup and mine but I'm currently baffled...

[2020-04-16 18:09] blaylockbk commented on #86
Thanks for taking the time to look into this. I'm as baffled as anyone else on this.
I wonder if it's the Linux environment I have to work in...

`Linux/3.0.101-0.47.106.59.1.17833.1.PTF-default suse_linux/11 glibc/2.11.3`
vs
`Linux/4.15.0-1079-oem ubuntu/18.04.4 glibc/2.27`

[2020-04-17 16:54] blaylockbk commented on #86
It appears there is a version incompatibility (maybe related to my machine??). When I downgraded to matplotlib=2.2.5, it worked!

`conda create -n testCartopy2 -c conda-forge python=3.7 matplotlib=2.2.5 cartopy`

[2020-06-01 01:08] lsawade opened #90 "Conflict in ``conda`` environment when trying to install Cartopy 0.18.0"
Issue:

Hi everyone,
I'm encountering this issue a conflict issue and have not been able to resolve it so far.
Important to note is surely that I'm on a IBM Power9 machine, and I have yet to encounter an issue when installing Cartopy from the source code. Also, for the installation of h5py and mpi4py, I have used the following ``openmpi`` version ``openmpi/gcc/4.0.3rc1/64`` (not sure if relevant).

[2020-06-01 07:23] xylar commented on #90
@lsawade, from your `conda list`, I'm a little confused about what you are hoping to have happen.  First, it looks like you have the caropy release candidate already installed (but somehow seemingly from pypi?).  And it seems like you are mixing pypi and conda-forge packages.  Sometimes conda-forge builds get labeled as from pypi even when they're not so this could be a case like that but I've nev

[2020-06-01 08:35] xylar commented on #90
@lsawade, following up a bit.  I checked out https://github.com/lsawade/GCMT3D to get a sense for how you're installing your requirements.  Specifically, I'm trying to install as many of the packages from your `README.md` and `requirements.txt` as I can.  Based on your recipe there, I can report the following.

First, I would try to start by installing as much from conda-forge as possible.  Maybe

[2020-06-01 17:14] lsawade commented on #90
@xylar Oh wow! I didn't expect, this in depth test! You'll run into a bit of issue using the ``master`` branch of ``GCMT3D`` as I'm working on the ``devel`` branch.

I'll try what you suggested. for the installation.

Can you elaborate "h5py=*=mpi_openmpi*"

[2020-06-01 19:06] xylar commented on #90
@lsawade, I would install as little as possible with pip.  That's likely a source of conflicts.

That's actually, `h5py=*=mpi_openmpi*` with stars.  That says, install the latest compatible version of `h5py` (the first star) but only builds with a build string that starts with `mpi_openmpi`.  This would avoid accidentally installing the `nompi` or `mpi_mpich` versions.  (The latter is probably inc

[2020-06-04 13:48] lsawade commented on #90
Thank you so much for the elaborate help!
I will reopen if I encounter further issues!

[2020-06-04 14:08] #90 closed

[2020-10-16 18:46] lwasser opened #93 "Installing Cartopy on linux / docker build fails on import - ImportError: libproj.so.19: cannot open shared object file: No such file or directory"
Issue:
hi there @ocefpaf et al... i'm running into some issues with installing cartopy in a linux envt and am not sure whether to post here or on the cartopy GH repo? Essentially when i installed it i get this issue:

[code]

i've tried
- [ ] adding libgeos using: `apt-get install libgeos++-dev`  (https://github.com/SciTools/cartopy/issues/1239#issuecomment-445520383)
- [ ] adding libproj ` apt-ge

[2020-10-16 18:53] xylar commented on #93
@lwasser, it looks like you might be trying to use the base environment, rather than creating another environment and calling `conda activate <evn_name>`.  If that is the case, there may be some important environment variables that don't be set via `conda activate`.  Perhaps that's a red herring and @ocefpaf has another thought.

[2020-10-16 18:55] xylar commented on #93
You definitely want to use `libgeos` from the conda environment, not from the system. The versions could be different, which would cause trouble.

Same here.

I'm pretty sure about the problem being not calling `conda activate`.  If you are not able to create an environment other than the base, you need to set the `PROJ_LIB` variable manually so it points to the `lib` directory of your environment

[2020-10-16 19:56] lwasser commented on #93
@xylar  thank you. can you help me understand how i'd access / install libgeos from the conda envt? i thought it is a system based install.

we are definitely installing everything into the base envt and that has worked for us for the past few years well. i just tried conda activate and then launched Python via the CLI in the image and i'm still getting the same error.

could the order matter? sho

[2020-10-16 19:57] lwasser commented on #93
`echo echo $PROJ_LIB`
returns:

`/opt/conda/share/proj`

[2020-10-16 20:14] xylar commented on #93
The package is no longer called `proj4`, it is now called `proj`, and `proj4` is incompatible with `proj` so you can't install that.

It's good that the `$PROJ_LIB` variable is set to the right path. I guess that would have resulted in a different error than what you are seeing.

The fact that `$PROJ_LIB` is set does suggest maybe the activation isn't the problem, though I'm still a bit concerned.

[2020-10-16 20:20] ocefpaf commented on #93
I don't have much to add on what @xylar already mentioned here. But I can take a look at your Docker image/Dockerfile if you have it around.

Also, I'd try this first.

[2020-10-16 20:23] xylar commented on #93
@lwasser, I'm trying to do a local `conda create` with the `conda install` command from the Docker file at https://github.com/earthlab/r-python-eds-lessons-env/blob/master/Dockerfile.

On the command line, I get trouble if I don't have `"earthpy>=0.9.2"`, `"papermill=>2.1.0"` and `"traitlets>4.4"` in quotation marks.  I'm not very familiar with Docker files so maybe that's not an issue but that mi

[2020-10-16 20:28] xylar commented on #93
Okay, I did a local install:
[code]
And I get the same as you:
[code]
I'll look into it and see what I can figure out.  Thanks for bringing this to our attention!

[2020-10-16 20:32] xylar commented on #93
I can install `cartopy` on its own and I don't see this problem so there must be some interaction with one of the other packages that is causing trouble.  I'll try to see if I can narrow down which.

[2020-10-16 20:33] ocefpaf commented on #93
I guess some old unpinned package is in there :-(
Maybe just upgrading r-base, if we can, could solve this. We would still need to track the bad pinned package and remove it.

[2020-10-16 20:38] xylar commented on #93
I can reproduce the problem with just:
[code]
So presumably an incompatibility there?

[2020-10-16 20:39] ocefpaf commented on #93
Awesome! Thanks @xylar!! I'll check the packages in that installation and see what's wrong with pins.

[2020-10-16 20:43] xylar commented on #93
@ocefpaf, I think the problem is what you fixed in https://github.com/conda-forge/cartopy-feedstock/pull/91

We need to mark previous builds as broken or back-patch them to have proj pins :-( 😭😭😭

[2020-10-16 20:44] xylar commented on #93
I messed it up somehow in https://github.com/conda-forge/cartopy-feedstock/pull/88

[2020-10-16 20:44] lwasser commented on #93
Thank you both so much.  @xylar and @ocefpaf just a note  - when i tried to run

`conda create -y -n test python=3.8 cartopy=0.18.0 proj` (proj 6.3.1 wasn't found)
i got a conflict message as follows:

[code]

if i can be helpful here in any way please let me know but again thank you both!!

[2020-10-16 20:48] ocefpaf commented on #93
Marking them as broken is easier for now and can be reversed once we to a repodata patch.

[2020-10-16 20:56] xylar commented on #93
@lwasser, do you have `conda-forge` added as a channel?  Otherwise, I can't understand the conflicts you're seeing.

[2020-10-16 20:57] xylar commented on #93
Somewhat in my defense, Upstream doesn't list `proj` as a dependency anywhere:
https://github.com/SciTools/cartopy/tree/v0.18.0/requirements

I was following their lead.

[2020-10-16 21:04] lwasser commented on #93
hi @xylar my apologies. i fixed it and now can see the issue - cartopy doesn't install correctly.

[2020-10-16 21:25] xylar commented on #93
@lwasser, once we fix this, you are likely to have other conflicts in your packages.  Something was causing the package solver to try to install an old version of `proj`, and we should see if we can figure out why.  I deleted my test environment that had all of your packages but I will try to create it again to see if I can figure it out.  There is a handy package called `conda-tree` that is helpf

[2020-10-16 22:14] xylar commented on #93
@lwasser, so I think a part of the problem is likely to be that conda-forge is not building packages with `r-base` 3.5 anymore, only 3.6 and 4.0:
https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/master/recipe/conda_build_config.yaml#L616-L618

I suspect you would have considerably better luck with your docker build if you are able to update to 3.6.  Would that work for you?

[2020-10-16 22:18] xylar commented on #93
The following worked for me:
[code]

Whereas I wasn't able to install `r-ggplot2` anymore when I still had `r-base=3.5` but after adding `proj >=7` as a dependency, which I think you almost certainly need.

[2020-10-16 22:28] lwasser commented on #93
@xylar i can absolutely update r.

can you tell me `"proj>=7"` in quotes. what is this doing? i am going to try this now

[2020-10-16 22:30] lwasser commented on #93
i am fine with moving to r version 4.x too...  but trying 3.6 now locally

[2020-10-16 22:38] xylar commented on #93
The quotes are necessary when I'm running on the Linux command line because otherwise the stuff gets redirected to a file called `=7` (and it's a mess because I can't figure out what's going wrong).  You probably don't need the quotes.  But `proj` wasn't part of your installation and getting an old version is what was causing trouble with `cartopy`.  We'll try to mark the build of `cartopy` 0.18.0

[2020-10-16 22:45] lwasser commented on #93
ok!! thank you @xylar i'm working on these updates now. Bumping to r 3.6 fixed a lot! i'm going to add proj as you mention too now but it all works locally now.

i'll work on bumping to r version 4.x as well! we have some older lessons that i suspect may fail  but at some point we will need to update those anyway! thank you again!

[2020-10-19 09:13] xylar commented on #93
I believe the issue of cartopy installing incorrectly with an older version of `proj` has been addressed by https://github.com/conda-forge/admin-requests/pull/145.  Please re-open if not.

[2020-10-19 09:13] #93 closed

[2020-10-19 15:36] lwasser commented on #93
thank you again, @xylar  and @ocefpaf  !!!

[2020-10-28 20:52] lwasser commented on #93
hi again @xylar and @ocefpaf i'm running into another environment issue - it is not specific to cartopy - but it is in my same docker image. i've actually removed all of the r installs locally to simplify and still get a really significant amount of dep conflicts.

the only change that i made to the environment was to add rioxarray. I see that you may be working on something today xylar given that

[2020-10-28 21:23] lwasser commented on #93
here is the (very beginning of) the output for when i build locally without any r stuff
[code]

[2020-10-29 08:09] xylar commented on #93
@lwasser, I think the problem is that your miniconda environment is now python 3.9, rather than python 3.9.  You specify python=3.8 but python is already installed in your miniconda environment and I don't believe it is getting downgraded to python 3.8 as you are requesting, or at least the package solver is looking for python 3.9 packages.

I would suggest one of a two approaches:
1. You could fi

[2020-10-29 16:26] lwasser commented on #93
thank you xylar... ok so here is what i've tried so far

Just run with python 3.9 doesn't work - lots of conflicts.
I tried to create an envt file to make install simpler and it's failing at the cleanup state - saying `find: paths must precede expression: `RUN'`

[code]

i also tried
[code]

and it didn't like that syntax.

i'm happy to share more code / docker file examples with you but i don't w

[2020-10-29 16:31] xylar commented on #93
@lwasser, could we move this discussion to an issue under your project, since it no longer relates to cartopy?  I'd be happy to discuss more with you under https://github.com/earthlab/r-python-eds-lessons-env/issues

[2020-10-29 16:56] lwasser commented on #93
@xylar of  course... i'll move more specifics there and will ping you! thank you for your time.

[2020-12-21 16:02] mathause opened #99 "also require sciypy again?"
- [ ] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue: I just tested the new `cartopy v0.18.0 py39h32a4312_6`. Thanks for adding matplotlib again. However, this does still not seem to be the minimum required packages to create a map/ figure. It at lea

[2020-12-21 16:47] xylar commented on #99
@mathause, adding back `scipy` seems like a reasonable thing to do given your test.  Not much use having `matplotlib` if you can't even create a `GeoAxis` without `scipy`.  I've done this in #100 and also added your simple test.  Thanks for the suggestion.  Sorry for the trouble.

I'm still a little confused about the requirements from upstream.  `gdal`, `pillow`, `matplotlib` and `scipy` are all

[2020-12-21 17:15] mathause commented on #99
Thanks for the fast reply. Adding scipy allows to create an `axes` and to do `pcolormesh` and `contour` plots. So that ticks the boxes I need. However, I don't know the inner workings of cartopy so I cannot advise on the other dependencies. Maybe @QuLogic or @dopplershift could weigh in?

[2020-12-21 17:44] dopplershift commented on #99
Well, while scipy is documented as optional, there's two places where scipy is unconditionally imported (one as a fallback for `pykdtree`). So decidedly incorrect to treat it as optional--anybody who doesn't have scipy is unable to import cartopy.

[2020-12-21 19:04] #99 closed

[2020-12-22 08:18] xylar commented on #86
@blaylockbk, I'm going to close this for now.  If you still are running into this problem, please re-open and provide additional details.

[2020-12-22 08:18] #86 closed

[2021-01-11 07:25] TJTapajyoti commented on #36
I am very sure I did not install geos via brew. I have the version 3.8.1. I installed using conda. However, I get the same error when I am trying to use projections in my plots. The projections are loaded from cartopy. Anyway I was able to solve it by downgrading to shapely 1.5.17

[2021-01-11 23:08] ocefpaf commented on #36
This is an old issue and while the error can be the same the causes can differ a lot due to the changes in the in the packages. Please open a new issue with the required debug info so we can help you.

[2021-03-18 02:57] david-tao-as01 opened #108 "Are there any osx-arm64 build or noarch build?"
- [ ] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

Here's a m1 mbp user asking
for no useable package on osx-arm64 system

[2021-03-18 07:53] xylar commented on #108
@david-tao-as01, at least one thing holding back an osx-arm64 build is that we're having trouble getting shapely built for osx-arm64:
https://github.com/conda-forge/shapely-feedstock/pull/81

[2021-03-18 07:55] xylar commented on #108
Another related discussion:
https://github.com/SciTools/cartopy/issues/1687

[2021-05-21 06:37] xylar commented on #108
closed via #111

[2021-05-21 06:37] #108 closed

[2021-07-24 15:20] MarkWieczorek opened #113 "Can not install Cartopy and GMT at the same time because of GDAL conflict"
### Description
Cartopy and GMT are both popular packages for map projections, so it would be good to ensure that these can cohabitate together. Some python packages in fact install both cartopy and gmt, so this is a major nuisance when the two have incompatible dependencies.

When using conda, I have run into several problems in the past, and this appears to be related to GDAL. The most recent ve

[2021-07-25 15:50] xylar commented on #113
@MarkWieczorek, thanks for reporting this problem.  I can reproduce it and I'm looking into what's causing the conflict.  The conflicts reported by conda aren't usually useful for that in my experience.

[2021-07-25 16:00] xylar commented on #113
The problem is that cartopy doesn't support `proj=8.x` yet (as you've gathered in your issue here https://github.com/SciTools/cartopy/issues/1821).  But the latest builds of `gmt` have been build with `gdal=3.3`, which in turn has been built only with `proj=8.x`.  So I'm afraid until cartopy supports the latest proj, it is going to become increasingly hard to install along with other software lake

[2021-07-26 08:00] MarkWieczorek commented on #113
Thanks for the figuring out the problem. Hopefully pjoj8 integration will go smoothly!

[2021-09-17 21:11] akrherz commented on #113
@MarkWieczorek Cartopy 0.20.0 was released today and now available on `conda-forge`.  `$ conda create -n test python=3.9 cartopy gmt` appears to now work for me.

[2021-09-28 02:25] xylar commented on #113
@MarkWieczorek, I'm assuming this is fixed and will close it.  Please reopen if you're still seeing the problem with the new release.

[2021-10-06 15:49] xaviernogueira opened #124 "Can't conda update to or install to Cartopy 0.20.0"
I installed cartopy yestarday to my env but it yesterday and only today realized that it did not install the newest versions (0.18.0 is installed, not 0.20.0). This appears to cause issues w/ cfeatures as described on this other thread (#1849) due to the change in servers.

If I try to update it, it says it is up to date.
When I uninstall it, then force install 0.20.0 w/ the conda command below, i

[2021-10-06 17:47] xylar commented on #124
@xaviernogueira, yeah, it would be great if upgrading just worked but sometimes the solver can't figure it out and there's not really an alternative we can offer to creating a new environment.  That's largely an issue beyond this feedstock and even beyond conda-forge.

I'm going to close this issue for now but feel free to re-open if you would like to provide a full set of details on your environm

[2021-10-06 17:47] #124 closed

[2021-11-18 07:19] kmuehlbauer opened #131 "Python 3.10"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

cartopy can't be installed into Python 3.10 environment, since Python 3.10 builds are not available. conda-forge [status page](https://conda-forge.org/status/) reports -> Migration not solvable:

[2021-11-19 00:05] dopplershift commented on #131
I'd like to wait for Shapely to be resolved. I know the issue is being worked on, and if it goes too long there's a reasonable workaround for a new build of Python (use system libffi). I'd vastly prefer that to doing the migration manually (skipping osx & 3.10) and then later having to re-add it.

[2021-11-19 06:44] kmuehlbauer commented on #131
Thanks @dopplershift, let's just wait and see.

[2021-11-20 11:15] kmuehlbauer commented on #131
It's progressing through the stack. One question though, will the migration be continued automatically?

[2021-11-20 11:20] xylar commented on #131
It might take awhile even if the bot does take care of it.  I think we might as well do it manually at least for the ones that are currently listed as unsolvable.

[2021-11-20 12:30] #131 closed